<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Expires" content="0" /> 
    <meta http-equiv="Pragma" content="no-cache" />
	<title>FM TECNO</title>
	<link rel="stylesheet" href="css/fmtecno.css?v=1.5" type="text/css">
	<link rel="stylesheet" href="css/normalize.css" type="text/css">
	
	<link rel="stylesheet" href="css/icoicoico/style.css" type="text/css">
	<script type="text/javascript" src="js/fmtecno.js?v=1.0"</script> 
	<script type="text/javascript" src="js/modernizr.js"</script>
</head>
<body>

	<header>
		<h1>
			<a href="index.php?action=Ingreso_Controller::login">
				<figure>
					<img src="img/FranjaMorada.png" alt="">
				</figure>
			</a>
			<a id="fm_nav" href="index.php?action=Ingreso_Controller::login">Franja Morada Tecno</a>
		</h1>
		
		<nav id="ioMenu">
			<figure id="showMenu" class="ioMenuMovil" onClick="displayMenu()">
				<h3>MENU</h3>
				
			</figure>	
			<div id="card_menu">
				<figure id="hideMenu" class="ioMenuMovil" onClick="displayMenu()">
					<h3>CERRAR</h3>
				</figure>
				<figure id="logo_menu">
					<img src="img/FranjaMorada.png" alt="">
				</figure>

				<ul>
					<li><a onClick="navSection('inicio')"href="#">Inicio</a></li>
					<li><a onClick="navSection('contacto')"href="#">Contacto</a></li>
					<li><a onClick="navSection('cursos')"href="#">Cursos</a></li>
					<li><a onClick="navSection('logros')"href="#">Logros</a></li>
					<li><a onClick="navSection('historia')"href="#">Historia</a></li>
					<li><a onClick="navSection('eventos')"href="#">Eventos</a></li>

				</ul>
			</div>
		</nav>

		<div id="prev_section" onClick="displaySection('prev')"><img src="img/flecha.png" alt=""></div>
		<div id="next_section" onClick="displaySection('next')"><img src="img/flecha.png" alt=""></div>
	</header>

	<div id="slider">
		<section class="slide" id="inicio" style="display:block">
				<div class="mainanimation">
					
				</div>
				<div class="mainlogo">
					<h2>Franja Morada <strong>Catamarca</strong></h2>	
					<figure><img src="img/FranjaMorada.png" alt=""></figure>
				</div>

		</section>
		<section class="slide" id="contacto" style="display:none"></section>
		<section class="slide" id="cursos" style="display:none"></section>
		<section class="slide" id="logros" style="display:none"></section>
		<section class="slide" id="historia" style="display:none"></section>
		<section class="slide" id="eventos" style="display:none"></section>
	</div>

	<footer>
		<div class="rrss">
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
		</div>
		<p>© 2017 Todos los derechos reservados </p>
	</footer>
	
</body>
</html>